@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.admin-register-container {
  background: linear-gradient(to right, #ffffff, #eaf9fd);
  height: 100vh;
}

/* ===== LEFT SIDE ===== */
.register-left {
  position: relative;
  background: #e8edfa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.register-left-content {
  z-index: 2;
  position: relative;
  text-align: left;
  align-self: flex-start;
}

.register-logos  {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 0px !important;
  margin-left: 30px;
}

.teamplus-logo{
  
  height: 50% !important;
}

.stafio-logo {
  height: 35px;
}

.register-heading {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 600;
  color: #1e2a5a;
  width: 100%;
  text-align: left;
  margin-left: 30px;
}

.register-subheading {
  font-size: 35px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
}

.register-description {
  font-size: 18px;
  color: #0a0a0a;
  margin-bottom: 20px;
  line-height: 1.5;
  margin-left: 30px;
}

.register-illustration {
  width: 70%;
  z-index: 2;
  position: relative;
  margin-top: -40px;
  align-self: center;
  height:450px;
}

/* ===== RIGHT SIDE ===== */
.register-form-wrapper {
  background: #ffffff;
  padding: 50px;
  width: 100%;
  max-width: 420px;
  border-radius: 0;
  margin-left: 50px;
}

.register-form-wrapper h5 {
  color: #36baee;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

.register-form-wrapper h3 {
  font-weight: 600;
  font-size: 30px;
}

.register-form-wrapper .form-control {
 
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.register-form-wrapper .form-control:focus {
  border-color: #19BDE8;
  box-shadow: 0 0 0 0.2rem rgba(25, 189, 232, 0.25);
}

.register-btn {
  width: 400px;
  background-color: #19BDE8;
  border: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
}

.register-btn:hover {
  background-color: #17a8d3;
}

.login-link {
  color: #19BDE8;
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}
