/* AdminLogin.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.admin-login-container {
  background: linear-gradient(to right, #ffffff, #eaf9fd);
  height: 100vh;
}

/* ===== LEFT SIDE (same as Employee login) ===== */
.login-left {
  position: relative;
  background: #e8edfa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.bg-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.login-left-content {
  z-index: 2;
  position: relative;
  text-align: left;
  align-self: flex-start;
}

.login-logos {
  margin-top: 10px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 0px !important;
  margin-left: 30px;
}

.teampluss-logo {

  height: 40% !important;
}

.stafio-logo {
  height: 35px;
}

.login-heading {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 600;
  color: #1e2a5a;
  width: 100%;
  text-align: left;
  margin-left: 30px;
}

.login-subheading {
  font-size: 35px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
}

.login-description {
  font-size: 18px;
  color: #0a0a0a;
  margin-bottom: 20px;
  line-height: 1.5;
  margin-left: 30px;
}

.login-illustrations {
  max-width: 60%;
  z-index: 2;
  position: relative;
  margin-top: -20px;
  align-self: center;
}

/* ===== RIGHT SIDE (same as Employee login alignment) ===== */
.login-form-wrapper {
  background: #ffffff;
  padding: 50px;
  border: none;
  border-radius: 0;
  box-shadow: none;
 
}

.login-form-wrapper h5 {
  color: #36baee;
  font-weight: 500;
  font-size: 23px;
  padding-bottom: 20px;
}

.login-form-wrapper h3 {
  font-weight: 600;
  font-size: 30px;
}

.email-input {
  background: #e9eaea;
  width: 400px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.email-input:focus {
  border-color: #19BDE8;
  box-shadow: 0 0 0 0.2rem rgba(25, 189, 232, 0.25);
}

.login-btn {
  width: 400px;
  background-color: #19BDE8;
  border: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
}

.login-btn:hover {
  background-color: #17a8d3;
}

.signup-page {
  color: #36baee;
  text-decoration: none;
  font-weight: 500;
}

.signup-page:hover {
  text-decoration: underline;
}

.signup-text {
  
  font-size: 15px;
}

.text-center a {
  color: #19BDE8;
  text-decoration: none;
  font-weight: 500;
}

.text-center a:hover {
  text-decoration: underline;
}


.remember-me-checkbox label {
  font-size: 14px;
  cursor: pointer;
  margin-bottom:-2px;
  padding-left:5px;

}

.forgot-password-link {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}
