.employee-sidebar {
  width: 255px;
  background-color: #19BDE8;
  color: #fff;
  font-family: 'Montserrat', sans-serif; 
  top: 0;
  left: 0px;
  padding: 6px 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 1050;
  overflow-y: auto;

}

.employee-sidebar.show {
  transform: translateX(0); 
  opacity: 1;
}

/* Header */
.employee-sidebar-header {
  text-align: center;
  margin-bottom: 30px;
}
.sidebar-logo {
  width: 120px;
  margin-bottom: 0px;
  margin-top:18px;
}
.sidebar-title {
  font-size: 1px;
  font-weight: 500;
}

/* Links */
.sidebar-link {
  display: flex;
  align-items: center;
  gap: 5px;      /* gap: 10px; */
  color: #fff !important;
  text-decoration: none;
  padding: 18px 15px;  /* modified */
  border-radius: 0px;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
  font-weight:500;
  border-top: 0.9px solid #cccaca;
      
}
.sidebar-link.active {
  background-color: #ffffffff !important;
  color: #000000ff !important;
   text-decoration: none !important;
   
}

.submenu-link.active {
  color: #19BDE8; /* example: blue highlight */
  font-weight: 500;
  
}
.submenu{
  background:white;
  margin:0px !important;
  text-align:left;
  padding-left:50px !important;
  padding-bottom:30px;
  padding-top:10px;
}

.sidebar-link:hover {
  background-color: #19BDE8;
  transform: translateX(5px);
}
.leave{
  margin-left:10px;
   text-decoration: none !important;

}


/* Logout */
.sidebar-logout {
  margin-top: 0px;
   padding: 18px 15px;  /* padding: 28px 15px; */
  background: transparent;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;    /* font-size: 22px; */
  display: flex;
  align-items: center;
  gap: 5px;      /* gap: 10px; */
  transition: background 0.3s ease, transform 0.2s ease;
  border-top: 1px solid #fff; 
  border-bottom: 1px solid #fff; 
}
.chev-container.abs{ position: relative; width: 24px; height: 24px; border:1px solid #ffffffff; border-radius:50%; }
.chev-container.abs svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px; height: 12px;
  display: block;

}
.chev-container svg {
  color: #ffffffff !important;
  fill: #ffffffff;
}

.chev-container svg:hover {
  color: #000000ff !important; /* stops yellow hover */
  fill: #000000ff;
}
.sidebar-logout:hover {
  background: #e63946;

}
.employee-sidebar-footer{
 margin-top: auto;
  text-align: center;
}
.sidebar-logo1{
  width:250px;
}

.submenu {
   position: relative;  
}
.submenu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;  /* offset 10px from the right edge */
  height: 80%;
  border-right: 2px dotted #000000ff;
}

.sidebar-leave-link{
  text-decoration:none !important;

}

.submenu-link {
  color: #000000ff;
  text-decoration:none !important;
  padding: 5px 0;
  display: block; 
  
}

.submenu-link.active {
  color: #19bde8; /* highlighted blue */
  font-weight: 500;
  
}
