.notification {
   position: relative; /* now it's part of the normal flow */
  left: auto;         /* reset */
  transform: none;    /* reset */
  background: #fff;
  border:1px solid #dad8d8ff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  /* optional max width */
  padding: 16px 20px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  font-size: 14px;
  margin: 0;
  height:auto;    
}

.icon {
  font-size: 28px;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.title {
  font-size: 15px;
  margin:0px 0px 10px 0px ;
  font-weight: 600;
}
.title strong{
    font-weight: 600;
}

.time {
  font-size: 12px;
  color: #666;
  margin-left: 6px;
}

.message {
  margin: 15px 0;
  color: #444;
  font-size:14px;
}

.actions {
  font-size: 13px;
}

.dismiss {
  margin-right: 16px;
  cursor: pointer;
}

.viewAll {
  font-weight: 600;
  cursor: pointer;
}

.close {
  cursor: pointer;
  font-size: 15px;
  color: #444;
  margin-left: 8px;
  
}
