
.notification-top {
  background: #eeeeee;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  margin-bottom: 16px;
 
}
/* NotificationBar.css */

/* Container for spacing and layout */
.notification-space {
  display: flex;
  justify-content: center;
 
}

/* Event Name (top line - bold & highlighted) */
.event-names {
  font-size: 16px;
  font-weight: 600 !important;
  color: #000000ff !important;
  margin-right: 10px !important;
}

/* Event Message (below name - lighter & smaller) */
.event-messages {
  font-size: 14px;
  font-weight: 500 !important;
  color: #3c3b3bff !important;
  
   margin-left: 10px !important;
}

.notification-content{
    display: flex;
  justify-content: space-between;
   font-size: 16px;
  font-weight: 500;
  align-items:center;
}

.close {
  cursor: pointer;
  font-size: 18px;
  color: #444;
}

.notification-content p {
  margin: 0;
  font-size: 14px;
  color: #333;
}
