/* *{
  box-sizing: border-box;
  
} */
.topbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000 !important;
  height: 65px;
  background: #fff;
  border-radius: 12px !important;
  margin: 0 16px !important;
  width: calc(100% - 32px) !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  padding: 5px 20px !important;
  display: flex;
  align-items: center;
}

.topbar-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.topbar-searches {
  /* new*/
  /* width: 400px;  */
  /* width: 100px; */
  padding: 5px 10px;
  padding-right: 10px;
  font-size: 13px;
  outline: none;
}

.topbar-searches input {
  /* new*/
  border: none;
  background-color: #F6F6F6;
  /* width: 100px; */
  height: 100%;
  outline: none;
}

.form-controler {
  width: 50% !important;
}

.topbar-avatar {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.profile {
  margin-right: 50px;
  gap: 10px;
}

.profile-data {
  gap: 5px;
}


.full-profile-popup {
  position: absolute;
  top: 70px;
  right: 0;
  width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  animation: fadeIn 0.2s ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.popup-content {
  padding: 10px 15px;
  background: #ffffffff;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-photo {
  text-align: center;

}

.profile-photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.details-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

}

.details-grid div {
  flex: 1;
  min-width: 250px;
  background: #ffffffff;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: left;
}

.details-grid p {
  color: #000;
  /* Makes it darker (pure black) */
  font-weight: 700;
  /* Ensures boldness */
}


.details-grid h6 {
  color: #47a0dbff;
  font-weight: bold;
  margin-bottom: 8px;
}

.doc-item {
  background: #f2f3f8;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}

.btn-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}